/* ABOUT ME TITLE*/
.nn-title{
	 font-family: 'Amatic SC', cursive;
	 font-size: 10vw;
	 letter-spacing: 1vw;
	 text-align: center;
}

/* ROCKET HOME BUTTON*/
.nn-rocket{
	padding-top:3%;
	width: 25%;
		
}
a:hover .nn-rocket{ 
   -webkit-filter: hue-rotate(190deg);
  
}

/* TEXT BODY*/
.nn-text{
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	text-align:justify;
	text-justify:inter-word;
}

p {
    text-indent: 50px;
    line-height: 200%;
    letter-spacing: 3px;
}


/*PICTURE OF ME*/
.nn-me{
	position: relative;
	padding-top: 15%;
}

.nn-frame{
	width: 160%;
	height: 110%;
	position: absolute;
	top: -20px; left: 30px;
}



/*REMOVE SPACE BTWN COL*/
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


/***********************************************************/

/*for small devices*/
@media (max-width: 767px) {
 	.nn-title{
	font-size: 25vw;
	} 

	.nn-rocket{
	width: 45%;	
	}

	.nn-center-column{

	float: none;
	margin: 0 auto;
	}

}